<div id="events" class="grid_6"> 
  <div class="box">
	
      <h2>Upcoming Events</h2>
      <DL>
      	    <DT>
		Cajun - Creole </br>
        DATE: MONDAY, OCTOBER 29, 2012 </br>
		TIME: 4-11 PM </br>
		PLACE: <%= link_to 'DEAR MOM', "http://dearmomsf.tumblr.com/" %> </br>
		2700 16th St </br>
		(between Folsom St & Harrison St) </br>
		San Francisco, CA 94103 </br>
		NEIGHBORHOOD: Mission  </br>
		PHONE: (415) 625-3362 </br>
        </DT>
      </DL>	
      </div>
</div>
