<div id="events" class="grid_6"> 
  <div class="box">
	
      <h2>Upcoming Events</h2>
      <DL>
	    <DT>
        We are busy working on our first event...<br/>
        more details to follow!
        </DT>
      </DL>	
      </div>
</div>