<div id="events" class="grid_6"> 
  <div class="box">
	
      <h2>Upcoming Events</h2>
      <DL>
	    <DT>
        Oct 29 2012 @ Dear Mom.<br/><br/>
        Details and menu to follow! See you there...
        </DT>
      </DL>	
      </div>
</div>