<div id="sample_menu" class="grid_6">
  <div class="box">
    <h2>Sample Brunch Menu</h2>

    <DL>
	  <DT>Far West Fungi</DT>
	  <DD>Mushroom Scramble with scallions and soft goat cheese
	with home fries</DD>

	  <DT>Breakfast on Brioche</DT>
	  <DD>Fried egg sandwich on toasted brioche bun 
	topped with melted vermont cheddar cheese
	carmelized onions crisp pancetta
	and arugula</DD>

	  <DT>Banana praline pancakes</DT>
	  <DD>Buttermilk pancakes with handcrafted pralines
	bananas toasted pecans and Maple syrup</DD>

	   <DT>Creole Benedict</DT>
	   <DD>buttermilk biscuit with Poached eggs
	thin sliced Tasso ham
	topped with roasted  heirloom tomato Hollandaise sauce</DD>
	
	   <DT>King Claude's Granola with fresh fruit and Greek yogurt.</DT>

       <DL>	
  </div>	
</div>