<%= render :partial => 'concept' %>
<%= render :partial => 'sample_menu' %>
<%= render :partial => 'bio' %>
<%= render :partial => 'tweets' %>
<%= render :partial => 'events' %>
<%= render :partial => 'sign_up' %>


