<%= render :partial => 'instagram' %>
<%= render :partial => 'events' %>
<%= render :partial => 'concept' %>
<div class="clear"></div>
<%= render :partial => 'sample_menu' %>
<%= render :partial => 'bio' %>
<%= render :partial => 'tweets' %>
<%= render :partial => 'sign_up' %>



