
/* 37241E 94B3C8 4D4E24 BD8025 816A4A */

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 100; text-align: center; color: #94B3C8; text-align: center;
  background-color: #37241E;

}

a:link {color:#816A4A;}      /* unvisited link */
a:visited {color:#4D4E24;}  /* visited link */
a:hover {color:#BD8025;} /* mouse over link */
/*a:active {color:#816A4A;}*/  /* selected link */

#intro { text-align: center;  margin:0 auto; }

#head { font-size: 25px; font-weight: 500;  margin-bottom: 20px; margin-top: 20px }

#content {  min-height: 600px; }

#footer { background-color: #CCCCCC; padding: 5px; color: black; margin-top: 20px; }

.spacer { margin-right: 5px; margin-left: 10px;}

#bio { margin-top: 40px; margin-bottom: 40px; }

.bio_link { padding-left: 20px; padding-right: 20px; font-weight: bold; }

#darren_pict {border: none; background-image: url('../images/darren.png'); height: 200px; background-repeat: no-repeat;
margin: 0 auto;}
	
.personal_bio { height: 450px; }
.personal_bio li { list-style: none;  }

#sample_menu { width: 400px; margin:20px auto; margin-bottom: 50px;}
#sample_menu dd { list-style: none; }
#sample_menu dt { padding-top: 8px; font-weight: bold }
#sample_menu dl { padding-top: 4px; }

#events_and_tweets { margin-top: 100px }

#tweets {padding: 0px} /* fix for grid system conflict that was runnning the page over.*/

#tweets .twtr-hd { -moz-border-radius: 6px 6px 0 0; border-radius: 6px 6px 0 0; height: 0px; padding: 0px;}
#tweets .twtr-ft { padding: 0px; height: 30px; margin: 0px; }
