<div id="bio" class="grid_6">
  <div class="box">
    <span class="bio_link"><%= link_to "Jen's BIO", :controller => "home", :action => "jen" %> </span>
    <span class="bio_link"><%= link_to "Darren's BIO", :controller => "home", :action => "darren"  %> </span>
  </div>
</div>