<div id="instagram" class="grid_6">
  <div class="box">
    <iframe src="http://snapwidget.com/sl/?u=amRzcmV2ZW5nZXxpbnw0MzV8MnwzfHxub3w1fGZhZGVJbg==" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:440px; height: 440px" ></iframe>
  </div>
</div>
