<div id="sample_menu" class="grid_6">
  <div class="box">
    <h2>Dear Mom Oct 29 Menu</h2>
    (subject to change... of course) <br/>

    <DL>
	  <DT>D's signature Crab Cakes</DT>
	  <DD>Panko crusted crispy Dungeness crab cakes with lemon aioli and chives</DD>

	  <DT>Wild Mushroom and Gruyere Beignets</DT>
	  <DD>Mixed wild mushroom and gruyere beignets with porcini dust
	And remoulade sauce</DD>

	  <DT>Mini Muffaletta Sandwiches</DT>
	  <DD>Mini muffaletta sandwich mortadella, smoked ham, provolone cheese,
	Italian salami and chopped mixed olives</DD>

           <DT>Classic Jambalaya</DT>
           <DD>A classic jambalaya with chicken and chicken andouille sausage
<b><i>Also can be made vegan</i></b><DD>

	   <DT>Jalapeño corn bread with honey butter</DT>

	   <DT>House made kennebac Cajun style potato chips</DT>
	
	   <DT> For the Sweet Tooth... Bacon Pralines </DT>
	   <DD>Pralines with bacon<DD>

    </DL>	
  </div>

	
</div>
