<div id="tweets" class="grid_6">
  <div class="box"> 
	<h3>Latest Tweets</h3>
<a class="twitter-timeline"  href="https://twitter.com/jdsrevengesf"  data-widget-id="376022618286997504">Tweets by @jdsrevengesf</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

  </div>
</div>
