<div class="personal_bio grid_12">
  <h2>Jennifer McMahon</h2>
  <div id="jennifer_pict" class="grid_3">
  </div>
  <div class="grid_9">
	
  <p>Jennifer McMahon moved to the Bay Area from upstate New York in 1989. Her restless spirit guided her into the kitchen starting at then-bustling Plumpjack Cafe and then to another equally chic restaurant in its prime, Mecca. Her prowess in the kitchen landed her the executive chef role at Da Flora in North Beach, where she remains after 13 years. Jen's rustic, delicate, straight forward Italian cuisine with a commitment to seasonal products of the Bay Area, has made Da Flora a destination neighborhood restaurant - garnering the unanimous affection of locals on Check, Please! Bay Area, Tasting Table, and even the San Francisco Chronicle's food critics, who awarded Da Flora 3 stars.  Ready for new challenges, Jen will bring her own creativity and the "J" in JD'S Revenge.
  </p>

  </div>
  <div class="reset">
</div>