<div id="events" class="grid_6"> 
  <div class="box">

    <%- if !@future_events.blank? %>
      <h2>Upcoming Events</h2>
      <%- events = @future_events %>
    <%- elsif !@past_events.blank? %>
      <h2>Past Events</h2>
      <%- events = @past_events %>
    <%- else %>
      <h2>Upcoming events</h2>
        <p>Please check back soon for our next event</p>
        <%- events ||= [] %> 
    <%- end %>

    <%- events.each do |event| %>
       <%= render 'events/event_display', :event => event %>
    <%- end %>

  </div>
</div>