<div class="box">
  <p id="notice"><%= notice %></p>

<%# Note: at @event should be @event and it  an array of event objects ( with one object in this case) %>
<%# doing this so I can reuse the event display partial%>

<%= render 'show_event' %>

</div>