<!DOCTYPE html>


<head>

<title>JD's Revenge Pop Up</title>	
<%= javascript_include_tag 'prototype' %>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script type="text/javascript" src="http://cloud.github.com/downloads/malsup/cycle/jquery.cycle.all.latest.js"></script>
<script type="text/javascript"> var $j = jQuery.noConflict(); </script>

<%= stylesheet_link_tag 'main' %>
<%= stylesheet_link_tag 'reset' %>
<%= stylesheet_link_tag '960' %>

<meta name="keywords" content="pop up, popups, san francisco, food,  food truck, darren lacy, jen mcmahon" />
<meta name="description" content="JDs Revenge is a team of chefs in San Francisco" />

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-34318078-1']);
  _gaq.push(['_setDomainName', 'jdrevenge.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>


</head>

<body>
  
<div id="intro" class="container_12">

    <div id="footer" class="grid_12">
	  <div class="">
        <span id="email" class="spacer">EMAIL: <%= mail_to "jdsrevengesf@gmail.com", "JD's revenge" %></span>
        <span id="twitter" class="spacer">
	    <a href="http://www.twitter.com/jdsrevengesf"><img src="http://twitter-badges.s3.amazonaws.com/twitter-c.png" alt="Follow cyclepiratescycles on Twitter"/></a>
	    </span>
        <span class="spacer">
	    <a target="_blank" title="" href="http://www.facebook.com/JDs-Revenge#!/profile.php?id=150248231780327"><img src="/images/facebook_icon.png" alt="facebook_icon"></a>
	    </span>
	  </div>
    </div>


    <div id="head" class="grid_12"> 
	  <div class="">
        <h1>JD'S REVENGE</h1> 
      </div>
    </div>

    <div id="content">
      <%= @content_for_layout %>
    </div>
  


</div>

</body>
