<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	
<%#= render :partial => 'header' %>

<%= javascript_include_tag 'prototype' %>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script type="text/javascript" src="http://cloud.github.com/downloads/malsup/cycle/jquery.cycle.all.latest.js"></script>
<script type="text/javascript"> var $j = jQuery.noConflict(); </script>

<%= stylesheet_link_tag 'main' %>
<%= stylesheet_link_tag 'reset' %>
<%= stylesheet_link_tag '960' %>

<meta name="keywords" content="pop up, popups, san francisco, food,  food truck, darren lacy, jen mcmahon" />
<meta name="description" content="JDs Revenge is a team of chefs in San Francisco" />

</head>

<body>
  
<div id="intro" class="container_12">

    <div id="head" class="grid_12"> 
      <h1>JD'S REVENGE</h1> 
    </div>

    <div id="content">
      <%= @content_for_layout %>
    </div>
  
    <div id="footer" class="grid_12">
      <span id="email" class="spacer">EMAIL: <%= mail_to "jdsrevengesf@gmail.com", "JD's revenge" %></span>
      <span id="twitter" class="spacer"><a href="http://www.twitter.com/jdsrevengesf"><img src="http://twitter-badges.s3.amazonaws.com/twitter-c.png" alt="Follow cyclepiratescycles on Twitter"/></a></span>
      <span class="spacer"><a target="_blank" title="" href="http://www.facebook.com/JDs-Revenge#!/profile.php?id=150248231780327"><img src="/images/facebook_icon.png"></span>
    </div>

</div>

</body>
